@import compass/reset
@import folder

$scheme-green: #637D74
$scheme-grey: #403D3A
$scheme-red: #8C3B3B
$scheme-orange: #AB6937
$scheme-yellow: #D4A960

body
	background-color: #222
	font-family: "Helvetica Neue", Helvetica, Arial
	font-size: 14px
	line-height: 17px
	color: white

#tuio
	position: absolute
	z-index: 0
	visibility: hidden

#page
	background-color: black
	position: absolute
	top: 30px
	left: 30px
	bottom: 30px
	right: 30px
	overflow: hidden

#blocks
	width: 100%
	height: 100%
	position: absolute

.block
	width: 200px
	height: 200px
	position: absolute
	overflow: hidden
	margin: 5px
	z-index: 1
	border: 2px solid black
	&.active
		border: 2px solid yellow
	.inner
		background-color: black
		background-image: url(../images/content/example_block.jpg)
		width: 200px
		height: 200px
		overflow: hidden
		.label
			background-color: $scheme-red
			position: absolute
			bottom: 0px
			left: 0px
			right: 0px
			text-align: right
			padding: 10px
			.date
				color: $scheme-orange
			h2
				color: white
				font-size: 16px
				line-height: 19px

.folder
	position: absolute
	left: 300px
	top: 20px
	.inner
		.photo
			position: absolute
			top: 20px
			left: 20px
			width: 400px
			border: 10px solid white
			img
				width: 100%
		.details
			position: absolute
			top: 330px
			left: 20px
			h1
				position: absolute
				background-color: rgba(171,105,55,0.6)
				z-index: 1
				color: black
				font-size: 20px
				line-height: 24px
				font-weight: bold
				padding: 6px 8px
				width: 300px
			.description
				position: absolute
				background-color: white
				color: black
				font-size: 11px
				line-height: 13px
				left: 50px
				top: -10px
				padding: 80px 10px 20px
				width: 450px
				height: 160px
			.date
				position: absolute
				top: 225px
				color: $scheme-orange
				text-align: right
				width: 450px
				left: 50px

.region-button
	.piece
		position: absolute
		background-color: $scheme-yellow
		margin: 5px
		&.horizontal
			height: 20px
			width: 200px
		&.vertical
			width: 20px
			height: 150px

	&.active .piece
		background-color: yellow

	&.top-left
		.horizontal
			width: 200px
		.vertical
			height: 150px

	&.top
		.horizontal
			left: 50%
			margin-left: -150px
			width: 300px
		.vertical
			display: none

	&.top-right
		.horizontal
			width: 200px
			right: 0px
		.vertical
			right: 0px
			height: 150px

	&.bottom-left
		.horizontal
			bottom: 0px
			width: 200px
		.vertical
			height: 150px
			bottom: 0px

	&.bottom
		.horizontal
			left: 50%
			margin-left: -150px
			width: 300px
			bottom: 0px
		.vertical
			display: none

	&.bottom-right
		.horizontal
			width: 200px
			right: 0px
			bottom: 0px
		.vertical
			right: 0px
			bottom: 0px
			height: 150px

#gridView
	position: absolute
	width: 280px
	height: 160px
	top: 50%
	left: 50%
	margin-left: -140px
	margin-top: -80px
	background-color: white
	color: black
	z-index: 2000
	table
		width: 100%
		height: 100%
		td
			border: 1px solid #999
			text-align: center
			vertical-align: middle
			width: 18px
			height: 19px
			margin: 0
			padding: 0
