/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/folder.sass */
#folders {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 8, ../sass/folder.sass */
.box, .row {
  -webkit-transition: all 600ms ease-in-out 0.2s;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: left top;
  -webkit-transform-style: preserve-3d;
}

/* line 14, ../sass/folder.sass */
.folder {
  -webkit-transition: all 600ms ease-in-out 0.2s;
  -webkit-perspective: 1200;
  -webkit-perspective-origin-x: center;
  -webkit-perspective-origin-y: center;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: left top;
  -webkit-transform-style: preserve-3d;
}

/* line 23, ../sass/folder.sass */
.row {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 28, ../sass/folder.sass */
.row-0 {
  top: 200px;
}

/* line 30, ../sass/folder.sass */
.row-1down, .row-2down, .row-3down {
  -webkit-transform: translate3d(0px, 200px, 0px);
  -webkit-transform-origin: left top;
}

/* line 33, ../sass/folder.sass */
.row-1up, .row-2up, .row-3up {
  -webkit-transform: translate3d(0px, -200px, 0px);
  -webkit-transform-origin: left bottom;
}

/* line 37, ../sass/folder.sass */
.level1, .level2, .level3, .level4, .level5, .level6, .level7 {
  -webkit-transform: translate3d(200px, 0px, 0px);
}

/* line 40, ../sass/folder.sass */
.box {
  height: 200px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
}

/* line 46, ../sass/folder.sass */
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-transition: all 600ms ease-in-out 0.2s;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: left top;
  -webkit-transform-style: preserve-3d;
  border: 1px solid grey;
}
/* line 58, ../sass/folder.sass */
.content .inner {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: left top;
  -webkit-transform-style: preserve-3d;
}

/* line 64, ../sass/folder.sass */
#box-0-0 > .content .inner {
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 67, ../sass/folder.sass */
#box-1-0 > .content .inner {
  -webkit-transform: translate3d(-200px, 0px, 0px);
}

/* line 70, ../sass/folder.sass */
#box-2-0 > .content .inner {
  -webkit-transform: translate3d(-400px, 0px, 0px);
}

/* line 73, ../sass/folder.sass */
#box-3-0 > .content .inner {
  -webkit-transform: translate3d(-600px, 0px, 0px);
}

/* line 76, ../sass/folder.sass */
#box-0-1 > .content .inner {
  -webkit-transform: translate3d(0px, -200px, 0px);
}

/* line 79, ../sass/folder.sass */
#box-1-1 > .content .inner {
  -webkit-transform: translate3d(-200px, -200px, 0px);
}

/* line 82, ../sass/folder.sass */
#box-2-1 > .content .inner {
  -webkit-transform: translate3d(-400px, -200px, 0px);
}

/* line 85, ../sass/folder.sass */
#box-3-1 > .content .inner {
  -webkit-transform: translate3d(-600px, -200px, 0px);
}

/* line 88, ../sass/folder.sass */
#box-0-2 > .content .inner {
  -webkit-transform: translate3d(0px, -400px, 0px);
}

/* line 91, ../sass/folder.sass */
#box-1-2 > .content .inner {
  -webkit-transform: translate3d(-200px, -400px, 0px);
}

/* line 94, ../sass/folder.sass */
#box-2-2 > .content .inner {
  -webkit-transform: translate3d(-400px, -400px, 0px);
}

/* line 97, ../sass/folder.sass */
#box-3-2 > .content .inner {
  -webkit-transform: translate3d(-600px, -400px, 0px);
}

/* line 10, ../sass/style.sass */
body {
  background-color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

/* line 17, ../sass/style.sass */
#tuio {
  position: absolute;
  z-index: 0;
  visibility: hidden;
}

/* line 22, ../sass/style.sass */
#screen {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  background-color: black;
  position: absolute;
}

/* line 30, ../sass/style.sass */
#page {
  background-color: black;
  position: absolute;
  top: 20px;
  left: 45px;
  bottom: 20px;
  right: 45px;
  overflow: hidden;
}

/* line 39, ../sass/style.sass */
.block {
  width: 256px;
  height: 256px;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  z-index: 1;
  border: 2px solid transparent;
}
/* line 47, ../sass/style.sass */
.block.small {
  width: 126px;
  height: 126px;
}
/* line 50, ../sass/style.sass */
.block.active {
  border: 2px solid yellow;
}
/* line 52, ../sass/style.sass */
.block .inner {
  background-color: black;
  background-image: url(../images/content/example_block.jpg);
  width: 252px;
  height: 252px;
  overflow: hidden;
}
/* line 58, ../sass/style.sass */
.block .inner .label {
  background-color: #8c3b3b;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: right;
  padding: 10px;
}
/* line 66, ../sass/style.sass */
.block .inner .label .date {
  color: #ab6937;
}
/* line 68, ../sass/style.sass */
.block .inner .label h2 {
  color: white;
  font-size: 16px;
  line-height: 19px;
}

/* line 73, ../sass/style.sass */
.folder {
  position: absolute;
  left: 300px;
  top: 20px;
}
/* line 78, ../sass/style.sass */
.folder .inner .photo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
  border: 10px solid white;
}
/* line 84, ../sass/style.sass */
.folder .inner .photo img {
  width: 100%;
}
/* line 86, ../sass/style.sass */
.folder .inner .details {
  position: absolute;
  top: 330px;
  left: 20px;
}
/* line 90, ../sass/style.sass */
.folder .inner .details h1 {
  position: absolute;
  background-color: rgba(171, 105, 55, 0.6);
  z-index: 1;
  color: black;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding: 6px 8px;
  width: 300px;
}
/* line 100, ../sass/style.sass */
.folder .inner .details .description {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 11px;
  line-height: 13px;
  left: 50px;
  top: -10px;
  padding: 80px 10px 20px;
  width: 450px;
  height: 160px;
}
/* line 111, ../sass/style.sass */
.folder .inner .details .date {
  position: absolute;
  top: 225px;
  color: #ab6937;
  text-align: right;
  width: 450px;
  left: 50px;
}

/* line 120, ../sass/style.sass */
.region {
  opacity: 0;
  border: 3px dotted yellow;
  margin: 2px;
  width: 770px;
  height: 380px;
  position: absolute;
}
/* line 127, ../sass/style.sass */
.region.active {
  opacity: 1;
  -webkit-transition: opacity 0.8s linear;
}
/* line 130, ../sass/style.sass */
.region.TOP_LEFT {
  top: 0px;
  left: 0px;
}
/* line 133, ../sass/style.sass */
.region.TOP {
  top: 0px;
  left: 520px;
}
/* line 136, ../sass/style.sass */
.region.TOP_RIGHT {
  top: 0px;
  right: 0px;
}
/* line 139, ../sass/style.sass */
.region.BOTTOM_LEFT {
  bottom: 0px;
  left: 0px;
}
/* line 142, ../sass/style.sass */
.region.BOTTOM {
  bottom: 0px;
  left: 520px;
}
/* line 145, ../sass/style.sass */
.region.BOTTOM_RIGHT {
  bottom: 0px;
  right: 0px;
}

/* line 150, ../sass/style.sass */
.region-button .piece {
  position: absolute;
  background-color: #d4a960;
  margin: 2px;
}
/* line 154, ../sass/style.sass */
.region-button .piece.horizontal {
  height: 16px;
  width: 200px;
}
/* line 157, ../sass/style.sass */
.region-button .piece.vertical {
  width: 16px;
  height: 150px;
}
/* line 161, ../sass/style.sass */
.region-button.active .piece {
  background-color: yellow;
}
/* line 165, ../sass/style.sass */
.region-button.TOP_LEFT .horizontal {
  width: 400px;
}
/* line 167, ../sass/style.sass */
.region-button.TOP_LEFT .vertical {
  height: 350px;
}
/* line 171, ../sass/style.sass */
.region-button.TOP .horizontal {
  left: 50%;
  margin-left: -250px;
  width: 500px;
}
/* line 175, ../sass/style.sass */
.region-button.TOP .vertical {
  display: none;
}
/* line 179, ../sass/style.sass */
.region-button.TOP_RIGHT .horizontal {
  width: 400px;
  right: 0px;
}
/* line 182, ../sass/style.sass */
.region-button.TOP_RIGHT .vertical {
  right: 0px;
  height: 350px;
}
/* line 187, ../sass/style.sass */
.region-button.BOTTOM_LEFT .horizontal {
  bottom: 0px;
  width: 400px;
}
/* line 190, ../sass/style.sass */
.region-button.BOTTOM_LEFT .vertical {
  height: 350px;
  bottom: 0px;
}
/* line 195, ../sass/style.sass */
.region-button.BOTTOM .horizontal {
  left: 50%;
  margin-left: -250px;
  width: 500px;
  bottom: 0px;
}
/* line 200, ../sass/style.sass */
.region-button.BOTTOM .vertical {
  display: none;
}
/* line 204, ../sass/style.sass */
.region-button.BOTTOM_RIGHT .horizontal {
  width: 400px;
  right: 0px;
  bottom: 0px;
}
/* line 208, ../sass/style.sass */
.region-button.BOTTOM_RIGHT .vertical {
  right: 0px;
  bottom: 0px;
  height: 350px;
}

/* line 213, ../sass/style.sass */
#gridView {
  position: absolute;
  width: 280px;
  height: 160px;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -80px;
  background-color: white;
  color: black;
  z-index: 2000;
}
/* line 224, ../sass/style.sass */
#gridView table {
  width: 100%;
  height: 100%;
}
/* line 227, ../sass/style.sass */
#gridView table td {
  border: 1px solid #999999;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  height: 19px;
  margin: 0;
  padding: 0;
}
