Options +FollowSymlinks

RewriteEngine on
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9])(/$|$) mysql_connector.php?table=$1&id=$2
RewriteRule ^([a-zA-Z0-9_-]+)(/$|$) mysql_connector.php?table=$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !\.php$
RewriteRule ^(.*)$ $1.php [L]